// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #d9e8f6 !default;
$gray-500: #c3daf1 !default;
$gray-600: #302e4d !default;
$gray-700: #0050a0 !default;
$gray-800: #004183 !default;
$gray-900: #001f3d !default;
$black: #040116 !default;

$primary: #df6616 !default;
